<!DOCTYPE html>
<html>

  <head>
    <style>
      #map-canvas {
        width: 500px;
        height: 400px;
      }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
    <script src = "https://sandbox-api.uber.com/v1"> </script>
    <script src='./script.js'></script>
  </head>

  <body ng-app='searchApp' ng-controller='searchController'>
    <div id='error_message'></div>
    <form>
      <input type='text' ng-model='locate.keyword'>
      <input type='submit' value='Search' ng-click='search()'>
    </form>
    <div id="map-canvas"></div>
  </body>

</html>